// Default variables
html {
  --base-font-size: 16px;
  --base-font-size: max(16px, 1.7vmin);
}

// Light default theme
body {
 	--bg-color: #ffffff;
 	--bg-content-color: #fff;
 	--bg-code: #fff;
 	--body-color: #000;
 	--title-color: #000;
 	--link-color: #000;
 	--border-color:  rgba(0,0,0,.1);;
  --space: 2rem;
  --space: max(2rem, 6vmin);

  --content-width: 860px;
  --radius: 5px;
}

// Make  things smaller for mobile
@media screen and (max-width: 768px) {
	html {
    --base-font-size: 14px;
    --base-font-size: max(14px, 1.7vmin);
	}
}

@media screen and (min-width: 1441px) {
  body {
    --space: 8vmin;
  }
}

// Override variables for Dark theme
body[data-theme="dark"] {
 	--bg-color: #000;
 	--bg-content-color: #000;
 	--bg-code: rgba(0,0,0,.3);
 	--border-color:  rgba(255,255,255,.2);;
 	--body-color: #fff;
 	--title-color: #fff;
 	--link-color: #fff;
}